@use '@/styles/variables.module' as var;
@use '@/styles/mixins.module';

.prompt-input {
    @include mixins.position(fixed, auto, 50%, 0, auto);

    width: calc(100% - var.$aside-width);
    margin-right: calc(var.$aside-width / 2 * -1);
    padding: 0 15px 20px;
    transform: translateX(50%);
    background-color: var(--background);
}

.prompt-input-content {
    @include mixins.flex(space-between, center, row, 0);

    flex-grow: 1;
    max-width: var.$chat-list-max-width;
    margin: 0 auto;
    border: 1px solid var(--input);
    border-radius: var(--radius);
}

.prompt-input-textarea {
    height: 80px;
    line-height: 1.4;
    border: 0;
}
