@use '@/styles/variables.module' as var;
@use '@/styles/mixins.module';

.header {
    @include mixins.position(fixed, 0, 0, auto, auto);
    @include mixins.flex(space-between);

    width: calc(100% - var.$aside-width);
    height: var.$header-height;
    padding: 0 25px;
    background-color: var(--background);
    border-bottom: 1px solid var(--gray-750);
}

.header-chat-model-select {
    width: 200px;
    color: var(--primary-foreground);
}
