@import './variables.module';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        min-height: 100%;
        overscroll-behavior: auto;
        line-height: normal;
    }

    body {
        overflow: auto;
        min-height: 100%;
        margin: 0;
        padding: 0;
        color: $primary-light;
        background: $primary-dark;
        overscroll-behavior: auto;
        word-break: keep-all;
    }
}
