:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    min-height: 100%;
    overscroll-behavior: auto;
    line-height: normal;
}

body {
    overflow: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: var(--foreground);
    background: var(--background);
    overscroll-behavior: auto;
    word-break: keep-all;
}
