@mixin position($pos: absolute, $top: 0, $bottom: auto, $left: 0, $right: auto) {
    position: $pos;
    inset: $top $right $bottom $left;
}

@mixin flex($justify: center, $align: center, $dir: 'row', $gap: '10px') {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
    gap: $gap;
}

@mixin ellipsis($lines: 1) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    word-break: break-all;
    white-space: pre-line;
}
