@use '@/styles/variables.module' as var;
@use '@/styles/mixins.module';

.chat-dialogue-list-skeleton {
    max-width: var.$chat-list-max-width;
    margin: 0 auto;
}

.chat-dialogue-skeleton-item {
    @include mixins.flex(space-between, stretch, column, 15px);
}

.chat-dialogue-skeleton-prompt {
    @include mixins.flex(flex-end);
}

.chat-dialogue-skeleton-completion {
    @include mixins.flex(flex-start);
}

.chat-dialogue-skeleton-message {
    @include mixins.flex(space-between, flex-start, row, 20px);

    width: 45%;
}

.chat-dialogue-skeleton-content {
    flex-grow: 1;
    height: 40px;
    background-color: var(--gray-750);
    border-radius: calc(var(--radius) - 4px);
}
