@use '@/styles/variables.module' as var;
@use '@/styles/mixins.module';

.chat-dialogue-list {
    @include mixins.flex(flex-start, stretch, column, 30px);

    max-width: var.$chat-list-max-width;
    margin: 0 auto;
}

.chat-dialogue-item {
    @include mixins.flex(space-between, stretch, column, 15px);
}

.chat-dialogue-prompt {
    @include mixins.flex(flex-end);

    .message {
        max-width: 80%;
    }
}

.chat-dialogue-completion {
    @include mixins.flex(flex-start);
}

.chat-dialogue-skeleton-list {
    max-width: var.$chat-list-max-width;
    margin: 0 auto;
}

.chat-dialogue-skeleton-item {
    @include mixins.flex(space-between, stretch, column, 15px);
}

.chat-dialogue-item-skeleton-prompt {
    @include mixins.flex(flex-end);
}

.chat-dialogue-item-skeleton-completion {
    @include mixins.flex(flex-start);
}

.chat-dialogue-item-skeleton-message {
    @include mixins.flex(space-between, flex-start, row, 20px);

    width: 40%;
}

.chat-dialogue-item-skeleton-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--gray-600);
    flex-shrink: 0;
}

.chat-dialogue-item-skeleton-content {
    flex-grow: 1;
    height: 40px;
    background-color: var(--gray-750);
    border-radius: calc(var(--radius) - 4px);
}
