@use '@/styles/variables.module' as var;
@use '@/styles/mixins.module';

.dialogue-list {
    @include mixins.flex(flex-start, stretch, column, 30px);

    max-width: var.$chat-list-max-width;
    margin: 0 auto;
    padding: 15px 0 calc(var.$prompt-input-height + 30px);
}

.dialogue-item {
    @include mixins.flex(space-between, stretch, column, 15px);
}

.dialogue-prompt {
    @include mixins.flex(flex-end);

    .message {
        max-width: 80%;
    }
}

.dialogue-completion {
    @include mixins.flex(flex-start);
}
