@use '@/styles/variables.module' as var;
@use '@/styles/mixins.module';

.layout {
    @include mixins.flex(space-between, flex-start);

    position: relative;
    z-index: 0;
}

.layout-main {
    min-height: 100%;
    padding-top: var.$header-height;
    padding-left: var.$aside-width;
    flex-grow: 1;
}
